@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro&display=swap");

:root {
  --dark: #0d0827;
  --white: #f1effc;
  --green: #64fbd3;
  --green-opacity: rgba(100, 251, 211, 0.3);
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.working-img {
  width: 80%;
}

h1 {
  margin-bottom: 8px;
  font-weight: bold;
}

.main-title {
  margin: 0;
}

h3 {
  margin-left: 16px;
  margin-right: 16px;
}

.container {
  width: 80%;
  margin: 60px auto;
}

.section-container {
  display: flex;
  align-items: center;
  margin: 24px auto;
}

.container .left {
  justify-content: flex-end;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(100, 251, 211, 1);
  display: inline-block;
  height: 0;
  margin: 0;
}

.section-container .short-divider {
  width: 5%;
}

.section-container .long-divider {
  width: 30%;
}

.bottom {
  margin-top: 8px;
  margin-bottom: 32px;
}

.opacity {
  opacity: 0.7;
}

.presentation-box {
  width: 80%;
}

.green {
  color: var(--green);
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

.green-btn {
  background-color: transparent;
  border: 1px solid var(--green);
  padding: 14px 0;
  width: 100%;
  border-radius: 3px;
  transition: background-color 0.3s;
  margin: 8px 0 24px 0;
}

/* Icons */

.icons-box {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 32px auto;
}

.icon {
  stroke: var(--white);
}

/* Lists */

ul li {
  list-style: none;
  margin-left: -24px;
}

ul li::before {
  content: "\2022";
  color: var(--green);
  margin-right: 8px;
}

/* Projects */

.projects-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 40px;
}

.more-projects-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
}

.more-projects-link-container .more-projects {
  text-decoration: none;
}

.project {
  border: 1px solid var(--green);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project1 .image-container {
  background-image: url("../public/project1-img.png");
  background-position: center;
  background-size: cover;
  height: 160px;
}

.project2 .image-container {
  background-image: url("../public/top-games-img.png");
  background-position: center;
  background-size: cover;
  height: 160px;
}
.project3 .image-container {
  background-image: url("../public/bychapters-img.png");
  background-position: center;
  background-size: cover;
  height: 160px;
}

.project4 .image-container {
  background-image: url("../public/chromegotchi-img.png");
  background-position: center;
  background-size: cover;
  height: 160px;
}

.image-container .overlayed-color {
  height: 100%;
  background-color: var(--green-opacity);
}

.project-title {
  margin-top: 0;
  margin-bottom: 8px;
}

.project .green {
  margin: 0;
}

.project .description {
  margin: 0;
}

.project-links {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-self: flex-end;
}

.project-links a {
  display: inline-block;
}

.footer {
  background-color: var(--green-opacity);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVE */

@media (min-width: 768px) {
  .flex-center {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    margin-bottom: 40px;
  }

  .presentation-box {
    width: 40%;
  }

  .working-img {
    width: 40%;
  }

  .green {
    font-size: 16px;
  }

  .object-content {
    position: relative;
    left: 48px;
    right: 48px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 40px;
  }

  .text-box {
    margin-bottom: 32px;
    line-height: 24px;
  }

  .green-btn {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: auto;
    padding: 14px 24px;
    margin: 0 0 32px 0;
  }

  .green-btn:hover {
    background-color: var(--green);
    color: var(--dark);
    transition: background-color 0.3s ease-in-out;
  }

  .green-btn:active {
    background-color: var(--green-opacity);
  }

  .container {
    margin: 120px auto;
  }

  .container.skills-main-container {
    margin-top: 60px;
  }

  .section-container {
    margin: 60px auto;
  }

  /* Icons */

  .icons-box {
    width: 170px;
    margin: 0;
  }

  .icon {
    cursor: pointer;
    bottom: 0;
    position: relative;
    transition: stroke 0.3s ease-in-out, bottom 0.2s ease-in-out;
  }

  .icon:hover {
    stroke: var(--green);
    bottom: 2px;
    transition: stroke 0.3s ease-in-out, bottom 0.2s ease-in-out;
  }

  /* Skills */

  .skills-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .skills-container > div {
    width: 160px;
  }

  /* Projects */

  .projects-container {
    flex-direction: row-reverse;
  }

  .more-projects-link-container .more-projects:hover {
    text-decoration: underline;
  }

  .green.stack {
    margin-bottom: 56px;
  }

  .project {
    position: relative;
  }

  .project-links {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
